{% extends 'VisciukaiImagesBundle:Image:layout.html.twig' %}
{% block navbar_entries %}
    <li><a href="{{ path('images', {'albumId' : entity.album.id}) }}">Albumas {{ entity.album.title }}</a></li>
    <li class="active"><a href="/">Nuotraukos {{ entity.name }} peržiūra</a></li>
{% endblock %}
{% block body -%}
    <br/>
<div class="container-page col-md-12">
    <div class="col-md-9">
        <div class="image-with-controls pull-left">
            <div class="controls" >
                {% if app.user %}
                    <a class="control-photo" href="{{ path('add_favourite', {'imageId': entity.id}) }}"><span class="glyphicon glyphicon-star"></span></a>
                {% endif %}
                {% if entity.album.user == app.security.getToken().getUser() or is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="pin-photo" href="{{ path('images_make_cover_photo', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pushpin" ></span></a>
                {% endif %}
                {% if entity.user == app.security.getToken().getUser() or is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="control-photo" href="{{ path('images_delete', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-remove" ></span></a>
                    <a class="control-photo" href="{{ path('images_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
            </div>
            <img class="full-img" alt="{{ entity.name }}" src="{{ asset(entity.webPath) }}"/>
        </div>
    </div>
    <div class="col-md-3 well">
        <form action="{{ path('images_handle_tags', {'id' : entity.id}) }}">
            <div class="row form-group">
                <label for="tags">Tagai</label>
            </div>
            <div class="form-group col-md-12 row">
                <select id="tags" name="tags[]" data-role="tagsinput" multiple>
                    {% for tag in entity.tags %}
                        <option selected value="{{ tag.name }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-primary pull-right"  value="Pakeisti tagus" />
            </div>
        </form>
    </div>
    <div class="col-md-3 well">
        <div class="row">
            <b>Aprašymas:</b>
        </div>
        <div class="row">
            {% if entity.description|length > 0 %}{{ entity.description }}{% else %} Nėra aprašymo {% endif %}
        </div>
    </div>
    <div class="col-md-3 well">
        <div class="row" style="margin-bottom: 1em;">
            <b>Komentarai:</b>
        </div>
        <div class="row">
            {{ render(controller('VisciukaiGalerijaBundle:Comment:showImage', { 'imageId': entity.id })) }}
        </div>
        {% if app.user %}
        <div class="row pull-right">
            {{ render(controller('VisciukaiGalerijaBundle:Comment:new', { 'imageId': entity.id })) }}
        </div><div class="clearfix"></div>
        {% endif %}
    </div>
</div>
{% endblock %}
