{% extends "::base.html.twig" %}

{% block title %}VisciukaiGalerijaBundle:Album:Edit{% endblock %}
{% block navbar_entries %}
    <li class="active"><a href="/">Albumo "{{ album_title }}" redagavimas</a></li>
{% endblock %}
{% block body %}
    <div class="container-page col-md-12">
        <br/>
        <div class="container">
            <div class="col-md-4"></div>
            {{ form_start(form) }}
            <div class="col-md-4 well image-form">
                <b>Redaguoti albumą "{{ album_title }}"</b>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-group col-lg-12">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.title) }}
                </div>
                {{ form_rest(form) }}
                <div class="col-md-6">
                    <input type="submit" class="btn btn-primary"  value="Pakeisti" />
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}
