{% extends '::base.html.twig' %}
{% block navbar_entries %}
    <li class="active"><a href="{{ path('useraction') }}">Vartotojų veiksmai</a></li>
{% endblock %}
{% block body %}
    <div class="row">
    {% block sidebar %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="{% if app.request.attributes.get('_route') == 'useraction'%}active{% endif %}"><a href="{{ path('useraction') }}">Vartotojų veiksmai</a></li>
        <li class="{% if app.request.attributes.get('_route') == 'searchentry'%}active{% endif %}"><a href="{{ path('searchentry') }}">Paieškos įrašai</a></li>
        <li class="{% if app.request.attributes.get('_route') == 'uploaderror'%}active{% endif %}"><a href="{{ path('uploaderror') }}">Įkėlimo klaidos</a></li>
    </ul>
</div>
        {% endblock %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    {% block content %}

        {% endblock %}
    </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@VisciukaiLogsBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
